<div class="col-md-3">
  <ul class="sidebar-list">
    <li class="sidebar-item"><%= link_to 'Your Listings', rooms_path, class: active_class(rooms_path) %></li>
    <li class="sidebar-item"><%= link_to 'Your Reservations', your_reservations_path, class: active_class(your_reservations_path) %></li>
    <li class="sidebar-item"><%= link_to 'Your Trips', your_trips_path, class: active_class(your_trips_path) %></li>
  </ul>
</div>
